.card-login {
    padding: 150px 0 0 0;
    width: 150px;
    margin: 0 auto;
   }

.card-home {
     padding: 150px 0 0 0;
     width: 50%;
     margin: 0 auto;
   }

.card-abrir-chamado {
     padding: 150px 0 0 0;
     width: 50%;
     margin: 0 auto;
   }

.card-consultar-chamado {
     padding: 150px 0 0 0;
     width: 50%;
     margin: 0 auto;
   }